/*==intro==*/
.ds-content-box{
    background-color: #f0f0f0;
    padding-bottom: 20px;
}
.ds-main-content{
    background: url('/images/intro/introbanner.jpg?v=1') no-repeat top center;
    min-width: 1200px;
    font-family: 'Microsoft Yahei';
}
.ds-content-header{
    height: 540px;
    width: 1200px;
    margin: 0 auto;
    /*background: url('../images/dream-youth.png') no-repeat left 20px;*/
}
.content-top-btn{
    position: absolute;
    right: 50%;
    margin-right: -570px;
    top: -10px;
    width: 200px;
    height: 60px;
    z-index: 10;
}
.content-top-btn .ds-btn1{
    display: inline-block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #00cc97;
}
.content-top-btn .top-btn-triangle1
{
    position: absolute;
    top: 0;
    left: -4px;
    border-right: 4px solid #056535;
    border-top: 10px solid transparent;
}
.content-top-btn .top-btn-triangle2
{
    position: absolute;
    bottom: 0;
    left: -4px;
    border-right: 4px solid #056535;
    border-bottom: 10px solid transparent;
}
.content-top-btn .ds-btn1:hover{
    background-color: #00cc97;
    border-color: #00cc97;
}
.ds-top-state{
    color: #fff;
    font-size: 18px;
    clear: both;
    width: 418px;
    margin-left: 415px;
    padding-top: 60px;
    line-height: 32px;
}
.ds-status{
    margin-left: 48px;
}
.ds-content-container{
    position: relative;
    margin-top: -125px;
}
.ds-bg-box
{
    position: relative;
}
.ds-new-nav-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.6;
    filter:Alpha(opacity=60);
}
.ds-nav-list{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.ds-nav-list li{
    list-style: none;
    float: left;
    height: 40px;
    width: 210px;
    text-align: center;
    letter-spacing: 2px;
    cursor: pointer;
}
.ds-nav-list li a{
    display: inline-block;
    width: 220px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 16px;
    color: #383838;
}
.ds-nav-list li:hover{
    background: #fff;
    border-top: 3px solid #00cc97;
    height: 37px;
}
.ds-nav-list li:hover a{
	position: relative;
	top: -3px;
}
.ds-main-detail-box{
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 1px 2px #ccc;
}
.ds-mian-box{
    width: 1000px;
    padding: 50px 100px;
}
.ds-active-goal{
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 35px;
}
.ds-detail-title{
    display: block;
    color: #4e3606;
    font-size: 18px;
    background: url('/images/intro/font-icon.jpg') no-repeat left center;
    padding-left: 45px;
    line-height: 40px;
    font-weight: bold;
}
.detail-intro{
    color: #4e3606;
    font-size: 14px;
    margin-top: 20px;
    line-height: 28px
}
.ds-active-award{
    margin-top: 40px;
    border-bottom: 1px dashed #e4e4e4;
    overflow: hidden;
    padding-bottom: 55px;
}
.ds-award-total{
    background: url('/images/intro/award-bottle.jpg') no-repeat left;
    width: 50%;
    line-height: 35px;
    margin-top: 35px;
    position: relative;
    padding: 10px 0px 10px 60px;
    left: -5px;
    float: left;
    box-sizing: border-box;
}
.f-rmb{
    color: #b3754e;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
}
.ds-ward-detail{
    line-height: 28px;
}
.honours-book{
    font-size: 16px;
    font-weight: bold;
    color: #9d9c9c;
    letter-spacing: 2px;
}
.ward-ammouts-detail{
    display: block;
    color: #00cc97;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
}
.ds-ammouts{
    font-size: 18px;
}
.ds-awards-total1{
    background: url('/images/intro/award-bottle.jpg') no-repeat left center;
    padding: 10px 0px 10px 60px;
    width: 50%;
    line-height: 35px;
    margin-top: 35px;
    float: right;
    box-sizing: border-box;
}
.ds-active-time{
    margin-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e4e4e4;
}
.time-line{
    margin-top: 40px;
    overflow: hidden;
}
.time-line-top{
    padding-left: 10px;
}
.time-line-detail{
    background: url('../images/active-line.png') no-repeat left center;
    display: inline-block;
    text-align: center;
    padding:0px 35px;
}
.projects-collect{
    line-height: 24px;
    background: url('../images/active-line.png') no-repeat right center;
    padding-right: 35px;
}
.join-project{
    margin-top: 55px;
}
.time-line-right-detail{
    margin-left: 275px;
}
.collect-top{
    font-size: 18px;
    color: #383838;
}
.collect-date{
    color: #b3754e;
    font-size: 14px;
    display: block;
}
.time-line-middle{
    margin-top: 10px;
}
.time-line-middle div{
    display: inline-block;
    vertical-align: middle;
}
.time-line-left{
    height: 2px;
    background-color: #0b0004;
    width: 100px;
}
.time-line-center{
    width: 237px;
    height: 2px;
    background-color: #0b0004;
}
.time-circle-left{
    background: url('../images/four.png') no-repeat;
    width: 13px;
    height: 13px;
}
.time-circle-center{
    background: url('../images/other-four.png') no-repeat;
    width: 13px;
    height: 13px;
}
.time-line-bottom{
    margin-top: 12px;
    float: right;
}
.ds-challenging{
    background: url('/images/intro/intro-wolf.jpg') no-repeat center center;
    margin-top: 40px;
    padding-top: 130px;
    padding-bottom: 106px;
    overflow: hidden;
}
.wolf-detail{
    font-size: 16px;
    color: #666;
    line-height: 30px;
    width: 370px;
    margin-top: 5px;
    margin-left: 5px;
}
.online-detail-box{
    padding-left: 3px;
}
.onlin-de-con{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}
.onlin-detail{
    display: inline-block;
    margin-top: 15px;
}
.online-de-title{
    font-size: 14px;
    color: #383838;
    display: block;
    line-height: 1;
}
.online-type{
    margin-top: 1px;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: top;
    background-color: #383838;
}
.ds-game{
    margin-top: 40px;
    padding-bottom: 60px;
    border-bottom: 1px dashed #e4e4e4
}
.ds-selection{
    margin-top: 40px;
    background: url('/images/intro/onetofive.jpg') no-repeat 40px 70px;
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 50px;
}
.selection-box{
    font-size: 14px;
    color: #383838;
    margin-top: 20px;
    margin-left: 285px;
}
.selection-box p{
    line-height: 38px;
}
.selection-box .select-con1{
    margin-left: 55px;
}
.selection-box .select-con2{
    margin-left: 62px;
}
.selection-box .select-con3{
    margin-left: 155px;
}
.select-front{
    font-size: 16px;
    color: #aaa;
}
.ds-charge{
    margin-top: 40px;
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 35px;
}
.charge-box{
    margin-top: 40px;
}
.charge-box p{
    font-size: 14px;
    color: #383838;
    line-height: 28px;
    background: url('../images/flag.png') no-repeat 8px center;
    padding-left: 50px;
    margin-bottom: 35px;
    width: 910px;
}
.ds-logo-box{
    float: left;
    margin-right: 35px;
    width: 300px;
}
.ds-other-box{
    margin-right: 0;
}
.ds-logo-box a{
    display: block;
    padding: 39px 149px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.ds-logo-box p{
    color: #4e3606;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.ds-organzition{
    margin-top: 40px;
}
.ds-organzition-logo{
    overflow: hidden;
    padding-left: 20px;
    padding-top: 25px;
}
.ds-box-detail1{
    background: url('../images/vso-logo.png') no-repeat center;
}
.ds-box-detail2{
    background: url('../images/new-logo.png') no-repeat center;
}
.ds-box-detail3{
    background: url('../images/host-logo.png') no-repeat center;
}
.ds-bottom-status{
    position: relative;
    margin-top: 20px;
    color: #9d9c9c;
    font-size: 14px;
    line-height: 1;
    text-align: center;
}
.ds-organzition .ds-btn-box
{
    margin-top: 60px;
    text-align: center;
}
.ds-btn-box a.ds-btn1
{
    display: inline-block;
    padding: 15px 80px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    background-color: #00cc97;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.ds-btn-box .ds-btn1:hover, .content-top-btn .ds-btn1:hover
{
    background-color: #3bb58d;
}
/*==/intro==*/
/*==辅助==*/
.fl
{
    float: left;
}
.fr
{
    float: right;
}
.ml35
{
    margin-left: 35px;
}
/*==/辅助==*/