/*==million mobile==*/
html
{
    font-family: PingFangSC-Regular, "Helvetica Neue", Helvetica,"Microsoft Yahei", STHeiTi, Arial, sans-serif;
}
.bg-yellow
{
    background-color: #ffef00;
    padding-bottom: 1.6rem;
}
/*==header==*/
.million-header
{
    margin-bottom: 0.7rem;
    font-weight: bold;
    line-height: 1;
    color: #423d3e;
    text-align: center;
}
.million-banner
{
    width: 15rem;
    height: 9.4rem;
    overflow: hidden;
}
.million-banner img
{
    width: 15rem;
    height: 9.4rem;
    vertical-align: top;
}
.million-title-one
{
    margin-top: 0.3rem;
    font-size: 0.56rem;
}
.million-title-one .icon-square-blue
{
    margin-top: 0.1rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    vertical-align: top;
}
.million-title-two
{
    margin-top: 0.4rem;
    font-size: 0.72rem;
}
.million-title-three
{
    margin-top: 0.3rem;
    font-size: 0.56rem;
}
.million-content
{
    position: relative;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: #242424;
}
.million-content .million-content-middle
{
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    padding-left: 0.72rem;
    padding-right: 0.72rem;
    font-size: 0.56rem;
    line-height: 1rem;
    word-wrap: break-word;
    /*word-break: break-all;*/
    text-align: justify;
    text-justify: inter-ideograph;
    background-color: #ffd000;
}
.million-content-one .million-content-middle
{
    border-radius: 0.3rem 0.3rem 0 0;
}
.million-content-two .million-content-middle
{
    border-radius: 0 0 0.3rem 0.3rem;
}
.million-content-middle .million-content-title
{
    font-size: 0.64rem;
    line-height: 1;
}
.million-content-title .icon-square-black
{
    margin-top: 0.16rem;
    margin-right: 0.3rem;
    vertical-align: top;
}
.million-content-middle .million-content-para
{
    margin-top: 0.4rem;
}
.million-content-middle .fs-24
{
    font-size: 0.48rem;
}
.million-content-middle .fs-26
{
    font-size: 0.52rem;
}
.million-content-middle .brown
{
    color: #8f4915;
}
.million-content-middle .mt-70
{
    margin-top: 1.4rem;
}
.million-content-middle .indent-15
{
    text-indent: -0.3rem;
}
.million-content-middle dt
{
    float: left;
}
.million-content-middle dd
{
    padding-left: 2.9rem;
}
.million-content .million-content-top
{
    height: 0;
    border-bottom: 0.34rem solid #fdbd00;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
}
.million-content .million-content-bottom
{
    height: 0;
    border-top: 0.34rem solid #fbaf07;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
}
.million-object-list
{
    margin-top: 0.4rem;
}
.million-object-list li span
{
    float: left;
}
.million-object-list li p
{
    padding-left: 1.2rem;
}
.million-qrcode
{
    margin-top: 1.6rem;
    text-align: center;
}
.million-qrcode img
{
    width: 5rem;
    height: 5rem;
    vertical-align: top;
}
.million-qrcode p
{
    margin-top: 0.3rem;
    line-height: 1;
}
/*==/header==*/
/*==/million mobile==*/


/*==assistance==*/
.icon-16
{
    display: inline-block;
    width: 0.32rem;
    height: 0.32rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0.32rem 0.32rem;
    vertical-align: middle;
}
.icon-square-blue
{
    background-color: #1cebf6;
    box-shadow: 1px 2px 3px #0d7673;
}
.icon-square-black
{
    background-color: #242424;
}
.clearfix:after
{
    overflow: hidden;
}
/*==/assistance==*/