/*==conflict==*/
.popup-wrap .webuploader-container
{
    margin: 0;
}
a,
a:hover
{
    cursor: pointer;
    text-decoration: none;
}
textarea
{
    resize: none;
}
/*==/conflict==*/

/*==popup==*/
.popup-wrap
{
    position: relative;
    display: none;
    z-index: 999;
}
.popup-bg
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.72;
    filter: alpha(opacity=72);
    z-index: 9998;
}
.popup-content
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
    max-height: 500px;
    background-color: #fff;
    overflow: auto;
    z-index: 9999;
}
.popup-content-close
{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 36px;
    color: #999;
    line-height: 1;
    text-decoration: none;
}
a.popup-content-close:hover
{
    color: #5acdb3;
    text-decoration: none;
}
.popup-content-top
{
    padding-left: 20px;
    min-height: 36px;
    line-height: 36px;
    border-bottom: 1px dashed #e0e0e0;
}
.popup-content-top .popup-content-title
{
    font-size: 20px;
    font-weight: bold;
    color: #5acdb3;
    line-height: 36px;
}
.popup-form-group
{
    margin-top: 25px;
    padding-left: 100px;
}
.popup-form-group .popup-form-label
{
    float: left;
    display: inline-block;
    margin-left: -80px;
    width: 80px;
    font-size: 12px;
    font-weight: normal;
    color: #666;
    text-align: right;
}
.popup-form-group .popup-form-item
{
    font-size: 12px;
    color: #666;
}
/*==upload==*/
.popup-form-upload .popup-upload-btn
{
    float: left;
    margin-right: 10px;
}
.popup-upload-btn a
{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 9999em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    box-sizing: border-box;
}
.btn-local a
{
    background-image: url(/images/rc/popup/local_upload_1.png);
}
.btn-studio a
{
    background-image: url(/images/rc/popup/btn_icon_1.png);
}
.popup-upload-btn .webuploader-pick
{
    padding: 0;
    background: transparent;
}
.uploader-list
{
    margin: 0;
    margin-top: 5px;
    width: 350px;
    box-sizing: border-box;
}
.uploader-list li
{
    margin-bottom: 5px;
    padding-left: 5px;
    line-height: 20px;
    border: 1px solid #e0e0e0;
}
.uploader-list li .uploader-list-op
{
    float: right;
    font-size: 18px;
    margin-right: 5px;
    color: #5acdb3;
}
a.uploader-list-op:hover
{
    color: #5acdb3;
    text-decoration: none;
}
/*==/upload==*/
.popup-form-item
{
    width: 350px;
}
.popup-form-item textarea
{
    padding-left: 20px;
    padding-right: 20px;
    width: 350px;
    height: 62px;
    line-height: 20px;
    border: 1px solid #e0e0e0;
    outline: none;
    box-sizing: border-box;
}
.popup-form-item .popup-form-intro
{
    margin-bottom: 10px;
    line-height: 20px;
}
.popup-form-btnbox
{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: center;
    border-top: 1px dashed #e0e0e0;
}
.popup-form-btnbox button,
.popup-form-btnbox input
{
    margin: 0 35px;
    padding: 0;
    min-width: 80px;
    height: 30px;
    line-height: 28px;
    color: #666;
    background-color: #eee;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    outline: none;
}
.popup-form-btnbox .popup-form-confirm
{
    color: #fff;
    background-color: #5acdb3;
    border-color: #5acdb3;
}
.popup-remarktype-item
{
    float: left;
    margin-right: 15px;
    min-width: 70px;
    line-height: 16px;
}
.popup-remarktype-item input
{
    vertical-align: text-bottom;
}
.icon-remark
{
    display: inline-block;
    width: 21px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: text-bottom;
}
.icon-remark-good
{
    background-image: url(/images/rc/popup/ico_mark_1.gif);
}
.icon-remark-middle
{
    background-image: url(/images/rc/popup/ico_mark_2.gif);
}
.icon-remark-bad
{
    background-image: url(/images/rc/popup/ico_mark_3.gif);
}
.popup-form-starrate
{
    margin-bottom: 5px;
}
.popup-form-starrate dt,
.popup-form-starrate dd
{
    float: left;
}
.popup-form-starrate dt
{
    margin-right: 10px;
}
.popup-form-starrate .starrate-cancel
{
    width: 17px;
    height: 15px;
    background-image: url(/images/rc/popup/delete.gif);
    background-repeat: no-repeat;
    background-position: left top;
    cursor: pointer;
}
.popup-form-starrate .starrate-cancel:hover
{
    background-position: left -16px;
}
.popup-form-starrate .starrate-star
{
    width: 16px;
    height: 15px;
    background-image: url(/images/rc/popup/star.gif);
    background-repeat: no-repeat;
    cursor: pointer;
}
.popup-form-starrate .star-left
{
    background-position: left top;
}
.popup-form-starrate .star-right
{
    background-position: right top;
}
.popup-form-starrate .star-left.active
{
    background-position: left -32px;
}
.popup-form-starrate .star-right.active
{
    background-position: right -32px;
}
.popup-form-starrate .star-left:hover,
.popup-form-starrate .star-left.hover
{
    background-position: left -16px;
}
.popup-form-starrate .star-right:hover,
.popup-form-starrate .star-right.hover
{
    background-position: right -16px;
}
.popup-form-starrate .starrate-result
{
    margin-left: 10px;
    color: #e73847;
}
/*==/popup==*/

/*==hint==*/
.hint-wrap
{
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    width: 1200px;
    font-family: "Microsoft Yahei";
}
.hint-imgbox
{
    text-align: center;
}
.hint-imgbox img
{
    max-width: 100%;
    vertical-align: top;
}
.hint-title
{
    margin-bottom: 35px;
    padding-left: 270px;
    font-size: 24px;
    color: #323232;
}
.hint-intro
{
    padding-left: 270px;
    font-size: 22px;
    color: #666;
}
.hint-intro dt
{
    float: left;
    font-weight: normal;
}
.hint-intro dd
{
    padding-left: 100px;
}
a.hint-btn
{
    display: inline-block;
    margin-left: 20px;
    min-width: 160px;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    text-align: center;
    background-color: #ff851b;
    border: 1px solid #bf6415;
    border-radius: 4px;
    vertical-align: bottom;
}
/*==/hint==*/

/*==goods detail==*/
.popup-content-goods
{
    margin-left: -350px;
    width: 700px;
}
.order_s_info,
.goods_info
{
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.order_s_info h2,
.goods_info h2
{
    margin-bottom: 10px;
}
.goods-orderlist li
{
    float: left;
    margin-bottom: 5px;
    padding-right: 25px;
    min-width: 50%;
    box-sizing: border-box;
}
.goods-ordertable td,
.goods-ordertable th
{
    padding-right: 10px;
    width: 20%;
    text-align: center;
}
.goods-ordertable th
{
    line-height: 50px;
}
.goodstable-imgbox
{
    word-break: break-all;
}
.goodstable-imgbox img
{
    vertical-align: middle;
}
/*==/goods detail==*/

/*==assistance==*/
.clearfix:after
{
    display: block;
    content: ".";
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
/*==/assistance==*/