/*==企业案例详情==*/
/*==banner==*/
sub, sup{
    font-size: auto;
    line-height:normal;
}
.case-banner
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 455px;
    overflow: hidden;
    z-index: -1;
}
.case-banner img
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 455px;
}
/*==/banner==*/
/*==topnav==*/
.case-top
{
    margin: 0 auto;
    margin-top: -455px;
    width: 1200px;
    font-family: "Microsoft Yahei";
    line-height: 1;
}
.case-top .case-top-nav
{
    position: relative;
    margin-top: 45px;
    font-size: 12px;
    color: #f0f0f0;
    overflow: hidden;
}
.case-top .case-top-nav li
{
    display: inline-block;
    float: left;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#1A000000,endcolorstr=#1A000000);
}
.case-top .case-top-nav li a
{
    display: inline-block;
    color: #f0f0f0;
    text-decoration: none;
}
.case-top-nav li.cur a span
{
    color: #3197e7;
}
.case-top-nav li .icon-12-home
{
    margin-right: 5px;
    vertical-align: top;
}
.case-top-nav li .top-nav-space
{
    margin: 0 5px;
}
.case-top .case-top-title
{
    float: left;
    margin-top: 60px;
}
.case-top .case-top-title span
{
    font-size: 36px;
    font-weight: bold;
    color: #3197e7;
}
.case-top .case-top-turn
{
    float: right;
    margin-top: 60px;
}
.case-top .case-top-turn a
{
    display: inline-block;
    float: left;
    margin: 0 2px;
    width: 42px;
    height: 42px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #d6d7d7;
    background-color: rgba(255, 255, 255, 0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1Affffff,endColorstr=#1Affffff);
    box-sizing: border-box;
}
.case-top .case-top-turn a:hover
{
    border-color: #666;
    background-color: rgba(0, 0, 0, 0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1A000000,endColorstr=#1A000000);
}
.case-top-turn a:hover .icon-20-prev
{
    background: url(/images/rc/enterprise/icon-20-prevhover.png) no-repeat center center;
}
.case-top-turn a:hover .icon-20-next
{
    background: url(/images/rc/enterprise/icon-20-nexthover.png) no-repeat center center;
}
/*==/topnav==*/
/*==hotcase==*/
.case-hotcase
{
    float: right;
    position: relative;
    right: 50%;
    margin-right: -600px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 267px;
    font-family: "Microsoft Yahei";
    line-height: 1;
}
.case-hotcase .loading_div_p
{
    background-color: #fff;
}
.case-hotcase .case-hotcase-top
{
    width: 267px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}
.case-hotcase .case-hotcase-top .hotcase-top-title
{
    float: left;
    margin-left: 15px;
    font-size: 14px;
    color: #383838;
}
.case-hotcase .case-hotcase-top a.hotcase-top-operate
{
    float: right;
    margin-right: 20px;
    font-size: 12px;
    color: #999;
    text-decoration: none;
}
.case-hotcase .case-hotcase-list
{
    position: relative;
}
.case-hotcase .case-hotcase-list li
{
    float: left;
    width: 267px;
    background-color: #fff;
}
.case-hotcase-list li .hotcase-list-img
{
    width: 267px;
    height: 167px;
    overflow: hidden;
}
.hotcase-list-img a
{
    display: inline-block;
}
.hotcase-list-img a img
{
    display: inline-block;
    width: 267px;
    height: 167px;
    vertical-align: top;
}
.case-hotcase-list li .hotcase-list-desc
{
    padding: 17px 15px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 3px 1px #efefef;
    border: 1px solid #efefef;
}
.hotcase-list-desc p
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hotcase-list-desc .hotcase-list-name a
{
    display: inline;
    color: #333;
    text-decoration: none;
}
.hotcase-list-desc .hotcase-list-name .hotcase-list-tag
{
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    border-radius: 3px;
    background-color: #3297e7;
}
.hotcase-list-desc .hotcase-list-name
{
    color: #333;
}
.hotcase-list-desc .hotcase-list-price
{
    margin-top: 8px;
    color: #999;
    line-height: 1.3;
}
.hotcase-list-desc .hotcase-list-price .case-pricenum
{
    display: inline-block;
    margin: 0 5px;
    max-width: 110px;
    font-size: 18px;
    color: #ff6900;
    vertical-align: text-bottom;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*==/hotcase==*/
/*==content==*/
.case-content
{
    float: left;
    position: relative;
    left: 50%;
    margin-left: -600px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 50px;
    width: 913px;
    font-family: "Microsoft Yahei";
    line-height: 1;
    background-color: #fff;
    box-shadow: 0 3px 1px #efefef;
    border: 1px solid #efefef;
    box-sizing: border-box;
}
.case-content .case-content-top
{
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.case-content-top .content-top-case
{
    float: left;
}
.content-top-case .content-top-title
{
    font-size: 18px;
    color: #333;
}
.content-top-case .content-top-date
{
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
.case-content-top .content-top-enterprise
{
    float: right;
}
.content-top-enterprise dt
{
    float: left;
    width: 132px;
    height: 32px;
    text-align: right;
    overflow: hidden;
}
.content-top-enterprise dt a
{
    display: inline-block;
}
.content-top-enterprise dt a img
{
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: top;
}
.content-top-enterprise dd
{
    padding-left: 138px;
    line-height: 1;
}
.content-top-enterprise dd.content-top-name
{
    font-size: 16px;
    color: #333;
}
.content-top-enterprise dd.content-top-tel
{
    margin-top: 4px;
    font-size: 12px;
    color: #666;
}
.case-content .case-content-mainpart
{
    padding-bottom: 40px;
    border-bottom: 1px dashed #e9e9e9;
}
.case-content-mainpart .content-mainpart-tag
{
    margin-top: 20px;
}
.content-mainpart-tag i
{
    float: left;
    margin-left: -4px;
    margin-right: 12px;
}
.content-mainpart-tag .mainpart-tag-link
{
    display: inline-block;
    float: left;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 26px;
    font-size: 12px;
    line-height: 24px;
    color: #666;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-sizing: border-box;
    cursor: pointer;
}
.case-content-mainpart .content-mainpart-detail
{
    margin-top: 55px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.content-mainpart-detail .mainpart-detail-img
{
    margin-bottom: 15px;
    width: 813px;
    text-align: center;
}
.case-content-mainpart img
{
    max-width: 813px;
}
.mainpart-detail-img a
{
    display: inline-block;
}
.mainpart-detail-img img
{
    display: inline-block;
    max-width: 813px;
    vertical-align: top;
}
.content-mainpart-detail .mainpart-detail-para
{
    font-size: 14px;
    color: #666;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-ideograph;
}
.content-mainpart-detail .mainpart-detail-title
{
    font-size: 14px;
    color: #3197e7;
    line-height: 30px;
}
.case-content .case-content-page
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}
.case-content-page a
{
    font-size: 14px;
    color: #999;
}
.case-content-page a:hover
{
    color: #57aaeb;
}
.case-content-page .mainpart-page-next
{
    margin-top: 10px;
}
/*==/content==*/
/*==/企业案例详情==*/


/*==动态新闻==*/
.dynamic-news.case-hotcase .hot-news-list
{
    margin-top: -10px;
    padding-bottom: 20px;
    background: #fff;
    box-shadow: 0 3px 1px #efefef;
}
.hot-news-list li
{
    margin-top: 10px;
}
.hot-news-list li a
{
    display: inline-block;
    padding-left: 15px;
    padding-right: 20px;
    width: 267px;
    font-size: 12px;
    color: #666;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}
.hot-news-list li a .news-list-icon
{
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background: url(/images/rc/enterprise/news-dot.png) no-repeat center center;
}
.hot-news-list li a:hover
{
    color: #2f549f;
}
.hot-news-list li a:hover .news-list-icon
{
    background: url(/images/rc/enterprise/news-hover.png) no-repeat center center;
}
.hot-news-imglist li
{
    margin-top: 16px;
}
.hot-news-imglist li a
{
    display: inline-block;
}
.hot-news-imglist li a img
{
    display: inline-block;
    width: 267px;
    height: 167px;
    vertical-align: top;
}
.dynamic-news .content-top-case .content-top-subtitle
{
    margin-top: 10px;
    font-size: 12px;
    color: #999;
}
.content-top-subtitle span, .content-top-subtitle b
{
    float: left;
}
.content-top-subtitle b
{
    margin: 0 10px;
}
.dynamic-news .case-content-mainpart .content-mainpart-detail
{
    margin-top: 30px;
}
.dynamic-news.case-hotcase .case-hotcase-top .hotcase-top-title
{
    margin-left: 20px;
}
/*==/动态新闻==*/

/*==案例上传==*/
.caseupload-content, .caseupload-content *
{
    box-sizing: border-box;
}
.caseupload-content label
{
    margin: 0;
    font-weight: normal;
}
.caseupload-content
{
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
    padding: 20px 25px;
    width: 1000px;
    font-family: "Microsoft Yahei";
    line-height: 1;
    border-radius: 3px;
    background-color: #fff;
}
.caseupload-content .caseupload-content-title
{
    font-size: 16px;
    color: #3297e7;
}
.caseupload-content .caseupload-form-box
{
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #aaa;
    border-radius: 3px;
    background-color: #f3f3f3;
}
.caseupload-form-box .caseupload-form-row
{
    margin-bottom: 20px;
}
.caseupload-form-box .caseupload-form-row.detail-placement
{
    height: 330px;
}
.caseupload-form-row.detail-placecontent
{
    position: absolute;
    top: 460px;
}
.caseupload-form-row.detail-placecontent .edui-container
{
    /*height: 330px;
    max-height: 330px;
    overflow: hidden;
    */
}
.edui-container .edui-editor-body{
     max-height: 250px;
    overflow-y: scroll;
    padding:  0 10px 0 0;
}
.caseupload-form-row .caseupload-form-left
{
    width: 265px;
    font-size: 14px;
    line-height: 36px;
    color: #666;
    text-align: right;
    padding-right: 10px;
}
.edui-editor-body .edui-body-container{
    padding: 0;
}
.caseupload-form-row .caseupload-form-middle
{
    width: 480px;
}
.caseupload-form-middle .caseupload-form-works
{
    position: relative;
}
.caseupload-form-works .caseupload-works-before
{
    position: relative;
    width: 480px;
    height: 150px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
}
.caseupload-works-before .works-before-icon
{
    margin-top: 50px;
    text-align: center;
}
.caseupload-works-before .works-before-txt
{
    margin-top: 14px;
    font-size: 14px;
    color: #a2a2a2;
    text-align: center;
}
.caseupload-works-before .input-file-box
{
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 150px;
    overflow: hidden;
}
.input-file-box input[type=file]
{
    position: absolute;
    right: 0;
    font-size: 300px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 10;
}
.caseupload-form-works .caseupload-works-after
{
    position: relative;
    width: 480px;
}
.caseupload-works-after .file-list
{
    margin-right: -5px;
    width: 485px;
}
.file-list li
{
    position: relative;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 116px;
    height: 88px;
    overflow: hidden;
}
.file-list li.caseupload-progress
{
    text-align: center;
    background-color: #ddd;
}
.file-list li.caseupload-progress .caseupload-percentage
{
    display: inline-block;
    margin-top: 19px;
    width: 50px;
    height: 50px;
    font-size: 12px;
    line-height: 46px;
    color: #666;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
}
.file-list li .file-delete
{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #504c58;
}
.file-list li:hover .file-delete
{
    display: inline-block;
}
.file-list li img
{
    display: inline-block;
    width: 116px;
    height: 88px;
    vertical-align: top;
}
.caseupload-works-after .file-btn-box
{
    position: relative;
    height: 50px;
    font-size: 14px;
    line-height: 48px;
    color: #70b4fa;
    text-align: center;
    background-color: #fff;
    border: 1px dashed #d4d4d4;
}
.file-btn-box .icon-13-blueadd
{
    margin-top: 17px;
    vertical-align: top;
}
.file-btn-box .input-file-box
{
    position: absolute;
    left: 0;
    top: 0;
    width: 480px;
    height: 50px;
    overflow: hidden;
}
.caseupload-form-middle .caseupload-form-thumbnail
{
    position: relative;
    width:294px;
    height: 185px;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    background-color: #e5e5e5;
}
.caseupload-form-thumbnail .form-thumnail-icon
{
    margin-top: 70px;
    text-align: center;
}
.caseupload-form-thumbnail .input-file-box
{
    position: absolute;
    left: 0;
    top: 0;
    width: 292px;
    height: 183px;
    overflow: hidden;
}
.caseupload-form-thumbnail img.caseupload-img
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 292px;
    height: 183px;
    z-index: 0;
}
.caseupload-form-middle .caseupload-form-desc
{
    display: table;
    position: relative;
    margin-left: 20px;
    width:160px;
    height: 185px;
}
.caseupload-form-desc .form-desc-content
{
    display: table-cell;
    line-height: 18px;
    text-align: justify;
    text-justify: inter-ideograph;
    vertical-align: middle;
}
.caseupload-form-row .caseupload-form-right
{
    display: table;
    margin-left: 15px;
    width: 190px;
}
.caseupload-form-right label.error
{
    display: table-cell;
    padding-left: 25px;
    width: 205px;
    line-height: 18px;
    text-align: left;
    background: url("http://account.vsochina.com/static/images/login/vso-orange-tip.png") no-repeat left center;
    vertical-align: middle;
}
.caseupload-form-middle .form-control
{
    display: inline-block;
    width: 480px;
    height: 36px;
    background-color: #fff;
    border-radius: 3px;
}
.caseupload-form-middle select.form-control
{
    padding: 0;
    line-height: 34px;
    text-align: left;
}
.caseupload-content .caseupload-form-operate
{
    margin-top: 20px;
}
.caseupload-form-operate .form-operate-confirm input
{
    width: 120px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background-color: #3297e7;
    border: none;
    outline: none;
}
.caseupload-form-operate .form-operate-confirm input:hover
{
    background-color: #1f81ce;
}
.caseupload-form-operate .form-operate-cancel input
{
    margin-right: 25px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    color: #999;
    background-color: transparent;
    border: none;
    outline: none;
}
/*==/案例上传==*/

/*==辅助==*/
.bg-grey1
{
    background-color: #e3e4e6;
}
.mt25
{
    margin-top: 25px;
}
.mt30
{
    margin-top: 30px;
}
.h36
{
    height: 36px;
}
.h150
{
    height: 150px;
}
.h185
{
    height: 185px;
}
.icon-10
{
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
}
.icon-12
{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
.icon-13
{
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: middle;
}
.icon-20
{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.icon-24
{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.icon-36
{
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
}
.icon-10-cross
{
    background: url(/images/rc/enterprise/icon-10-cross.png) no-repeat center center;
}
.icon-12-home
{
    background: url(/images/rc/enterprise/icon-12-home.png) no-repeat center center;
}
.icon-13-blueadd
{
    background: url(/images/rc/enterprise/icon-13-blueadd.png) no-repeat center center;
}
.icon-20-prev
{
    background: url(/images/rc/enterprise/icon-20-prev.png) no-repeat center center;
}
.icon-20-next
{
    background: url(/images/rc/enterprise/icon-20-next.png) no-repeat center center;
}
.icon-24-tag
{
    background: url(/images/rc/enterprise/icon-24-tag.png) no-repeat center center;
}
.icon-24-add
{
    background: url(/images/rc/enterprise/icon-24-add.png) no-repeat center center;
}
.icon-36-upload
{
    background: url(/images/rc/enterprise/icon-36-upload.png) no-repeat center center;
}
.clear-float:after
{
    display: block;
    height: 0;
    content: ".";
    visibility: hidden;
    clear: both;
}
/*==/辅助==*/

/*==富文本编辑器==*/
.caseupload-form-box .edui-container
{
    color: #333;
}
/*==/富文本编辑器==*/

/*==shop goods==*/
.goods-list-msg
{
    margin-top: 10px;
    padding-right: 80px;
    width: 260px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goods-list-msg .goods-list-remarks,
.goods-list-msg .goods-list-like
{
    display: block;
    float: left;
    margin-right: 15px;
    max-width: 70px;
    font-size: 14px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goods-list-msg .goods-list-price
{
    float: right;
    margin-right: -80px;
    font-size: 18px;
    color: #f60;
}
.goods-list-msg .icon-16
{
    margin-right: 3px;
    vertical-align: text-bottom;
}
.goods-list-msg .icon-remarks
{
    background-image: url(/images/rc/icon-24-message.png);
}
.goods-list-like .icon-like
{
    background-image: url(/images/rc/icon-24-heart.png);
}
.icon-remarks
{
    background: url(/images/rc/enterprise/icon-16-remarks.png) no-repeat center center;
}
.icon-like
{
    background: url(/images/rc/enterprise/icon-16-like.png) no-repeat center center;
}
/*==/shop goods==*/

/*==copyright br==*/
.upload-content-copyright .dropdown-menu>li>a
{
    white-space: inherit;
}
.comment_list .bcmtbtn
{
    margin-top: 15px;
}
.comment_list .comment-list-more
{
    line-height: 50px;
}
/*==/copyright br==*/

/*==jplayer==*/
.content-mainpart-detail .jp-audio,
.content-mainpart-detail .jp-video
{
    margin: 0 auto;
}
/*==/jplayer==*/