.rc-grey-bg{
    background-color: #f5f5f5;
}
.rc-person-head{
    width: 15rem;
    margin: 0 auto;
    text-align: center;
    color: #999999;
}

.rc-person-img {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 auto;
    position: relative;
}
.rc-person-img img{
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    border-radius: 50%;
}
.icon39{
    display: inline-block;
    vertical-align: middle;
    width: 0.78rem;
    height: 0.78rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-30{
    display: inline-block;
    vertical-align: middle;
    width: 0.6rem;
    height: 0.6rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-30-close{
    background-image: url("../images/rc/mobile/person/icon-30-close.png");
}
.icon-nvxing{
    background-image: url("../images/rc/mobile/person/icon-39-nvxing.png");
    position: absolute;
    right: 0;
    bottom:0;
}
.icon-male{
    background-image: url("../images/rc/mobile/person/icon-39-male.png");
    position: absolute;
    right: 0;
    bottom:0;
}
.rc-person-name{
    font-size: 0.72rem;
    color:#333333;
    line-height: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rc-person-style{
    font-size: 0.52rem;
}
.rc-person-btn{
    font-size: 0.64rem;
    color: #ffffff;
    text-align: center;
    line-height:1.5rem;
    display: inline-block;
    padding: 0 1.2rem;
    border-radius: 0.15rem;
    background-color: #5acdb3;
}
.rc-person-btn:active{
    color: #FFF;
}
.rc-person-btn.btn-grey{
    background-color: #999999;
}
.rc-person-num{
    line-height: 1.68rem;
}
.rc-person-style{
    line-height: 1;
    padding-bottom: 0.8rem;
}

.rc-half-btn-group{
    border: 1px solid #e1e1e1;
    border-width: 1px 0 1px 0;
    height: 1.84rem;
    line-height: 1.84rem;
    margin-top: 0.8rem;
    background-color: #FFF;
}
.rc-half-btn-group .rc-half-btn{
    width: 50%;
    display: block;
    float: left;
    color: #666666;
    font-size: 0.6rem;

}
.rc-half-btn-group .rc-half-btn.active{
    background-color:#e1e1e1 ;
}


.rc-about{
    width:14.2rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 0.3rem;
    border: 1px solid #e1e1e1;
    border-width: 1px 0 1px 0;
    font-size: 0.6rem;
    color: #444444;
    margin-top: 0.4rem;
}
.rc-about-ul li{
    border-bottom: 1px solid #e1e1e1;
    padding: 0.55rem 0 0.55rem 2.7rem;
    text-align:Justify;
    text-justify:inter-ideograph;
    min-height: 2.02rem;
}
.rc-about-ul li label{
    margin-left: -2.4rem;
    float: left;
    width: 2.4rem;
    color: #999999;
}
.rc-about-ul li:last-child{
    border-bottom: none;
}

.rc-works-box{
    padding: 0.4rem 0.4rem 4rem 0.4rem;
    width: 15rem;
    margin: 0 auto;

}
.rc-works{
    background-color: #FFF;
    margin-bottom: 0.4rem;
}
.rc-works>a>img{
    width: 100%;
}
.rc-works-img{

}
.rc-works-action{
    height: 1.54rem;
    background-color: #e5e5e5;
    color: #777777;
    font-size: 0.56rem;
    padding: 0.41rem 0.6rem;

}
.rc-works-title{
    color: #333333;
    font-size: 0.68rem;
    line-height: 1;
    padding: 0.8rem 0 0.5rem 0.6rem;
    display: block;
}
.rc-works-txt{
    font-size: 0.6rem;
    color: #777777;
    line-height: 1rem;
    padding: 0.1rem 0.6rem 0.5rem 0.6rem;
    text-align: Justify;
    text-justify: inter-ideograph;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
}
.rc-works-tab{
    color: #aaaaaa;
    font-size: 0.56rem;
    padding: 0 0.6rem 0.3rem 0.6rem;
}
.rc-works-tab span{
    padding:0 0.52rem 0.3rem 0;
    display: inline-block;

}
.icon-36{
    width: 0.72rem;
    height: 0.72rem;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-rc-message.active{
    background-image:url("../images/rc/mobile/person/rc-message.png");
}
.icon-rc-message{
    background-image:url("../images/rc/mobile/person/rc-message-before.png");
}
.icon-rc-heart{
    background-image:url("../images/rc/mobile/person/rc-heart-before.png");
}
.icon-rc-heart.active{
    background-image:url("../images/rc/mobile/person/rc-heart.png");
}
.icon-rc-share{
    background-image:url("../images/rc/mobile/person/rc-share.png");
}
.rc-works-action .icon-32{
    margin-right: 0.18rem;
}
.rc-works-message{
    min-width: 2.4rem;
    display: inline-block;
}
.rc-mobile-more{
    font-size: 0.6rem;
    color: #999999;
    border: 1px solid #e5e5e5;
    border-radius: 0.2rem;
    height: 1.52rem;
    line-height: 1.52rem;
    display: block;
    text-align: center;
    background-color: #FFF;
}
.rc-mobile-more:active{
    color: #999999;
}
.rc-works-detail{
    padding: 0 0.4rem;
    width: 15rem;
    margin: 0 auto;
}
.rc-works-detail .rc-works-img>img{
    width: 100%;
    display: block;
}
.rc-works-detail .rc-works-img{
    padding-bottom: 0.4rem;
}
.rc-works-detail .rc-works-title{
    padding: 0.88rem 0 0.58rem 0;
    word-break: break-all;
}
.rc-works-detail .rc-works-timer{
    color: #999999;
    font-size: 0.56rem;
    padding:0 0 0.4rem 0 ;
    line-height: 1;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 0.48rem;
    padding-right: 4rem;
    overflow: hidden;
}
.rc-works-detail .rc-works-timer .usename{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    white-space: nowrap;
}
.rc-works-detail .rc-works-timer .pull-right{
    width: 4rem;
    margin-right: -4rem;
    white-space: nowrap;
    text-align: right;
}
.rc-works-detail .rc-works-action{
    background-color: transparent;
    padding:0.38rem 0 0 0;

}
.rc-works-detail .rc-works-tab{
    padding: 0 0 0.3rem 0;
}
.rc-works-detail .rc-works-txt{
    padding: 0 0 0.5rem 0;
}
.rc-works-detail  .rc-share{
    background-color:#e7e7e7;
    border:1px solid #dadada;
    border-radius: 0.1rem;
    padding:0.38rem 0.7rem;
    margin-top:-0.38rem;
    color: #444444;
}
.rc-works-detail  .rc-works-action{
    border-bottom: 1px solid #b2b2b2;
}
.rc-works-detail .rc-works-action{
    height: 2.5rem;
}
.rc-comment{
    padding: 0.4rem 0.4rem 0.8rem 0.4rem;
    width: 15rem;
    margin: 0 auto;
}

.rc-comment .rc-comment-title{
    font-size: 0.6rem;
    color:#444444;
    line-height: 1;
    padding: 0.32rem  0 0.48rem 0;
}
.rc-comment-textarea{
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 0.2rem;
    overflow: hidden;
    margin: 0 0 0.4rem 0;
}
.rc-comment-textarea span{
    min-height: 4.4rem;
    display: block;
    line-height: 1.4;
    font-size: 0.56rem;
    padding:0 0.36rem;
}
.rc-comment-textarea textarea{
    position: absolute;
    line-height: 1.4rem;
    font-size: 0.56rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border:none;
    padding:0 0.36rem;
    resize:none;
}
.rc-mobile-btn{

    border: 1px solid;
    border-radius: 0.1rem;
    padding: 0.38rem 0.7rem;
    line-height: 0.72rem;
    font-size: 0.6rem;
    display: block;
    min-width: 3.42rem;
    text-align: center;
}
.rc-btn-green{
    background-color: #5acdb3;
    border-color: #5acdb3 ;
    color: #fff;
}
.rc-comment-list li{
    border-top: 1px solid #d9d9d9;
    padding: 0.42rem 0 0.42rem 1.3rem;
}
.rc-comment-list-head{
    width: 1.08rem;
    height: 1.08rem;
    float: left;
    margin-left: -1.3rem;
}
.rc-comment-list-head img{
    width: 100%;

}
.rc-comment-list .rc-comment-list-txt{
    padding-top:0.26rem ;
    text-align:Justify;
    text-justify:inter-ideograph;
    color: #777777;
}
.rc-comment-list .rc-comment-list-top{
    line-height: 1.08rem;
}
.rc-comment-list{
    margin-bottom: 0.76rem;
}
.rc-comment-list>li:first-child{
    border-top: none;
}
.rc-comment-list{
    border-bottom: 1px solid #d9d9d9 ;
}
.rc-comment-list ul{
    margin-top:0.42rem;
    margin-bottom: -0.42rem;
}
.share-box{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width: 15rem;
    height: 100%;
    left: 50%;
    top: 0;
    z-index: 10;
    margin-left: -7.5rem;
    display: none;
}


.share-box-style{
    width: 13rem;
    height: 7.14rem;
    position: absolute;
    left: 50%;
    margin-left: -6.5rem;
    top: 50%;
    margin-top: -3.57rem;
    background-color: #FFF;
    z-index: 1;
    border-radius: 0.15rem;
}

.share-box-title{
    height: 1.76rem;
    border-bottom: 1px solid #b2b2b2;
    font-size: 0.64rem;
    color: #444444;
    line-height: 1.76rem;
    padding-right: 1.76rem;
    text-align: center;
}

.share-box-title .pull-right{
    width: 1.76rem;
    height: 1.76rem;
    margin-right: -1.76rem;
    border: 1px solid #b2b2b2;
    border-width: 0 0 0 1px;
    float: right;
}
.share-list{
    padding-top: 1.5rem;
    text-align: center;
}

.share-list li{
    padding: 0 0.34rem;
    display: inline-block;
}
.share-list li a{
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.share-list li a.qq{
    background-image: url("../images/rc/mobile/person/icon-qq.png");
}
.share-list li a.qq:active{
    background-image: url("../images/rc/mobile/person/icon-qq-on.png");
}
.share-list li a.zoom{
    background-image: url("../images/rc/mobile/person/icon-kongjian.png");
}
.share-list li a.zoom:active{
    background-image: url("../images/rc/mobile/person/icon-kongjian-on.png");
}
.share-list li a.weibo{
    background-image: url("../images/rc/mobile/person/icon-xinlang.png");
}
.share-list li a.weibo:active{
    background-image: url("../images/rc/mobile/person/icon-xinlang-on.png");
}
.share-list li a.weixin{
    background-image: url("../images/rc/mobile/person/icon-weixin.png");
}
.rc-comment-list li ul ul{
    margin-left: -1.3rem;
}
.rc-add-comment{
    padding-top: 0.4rem;
    clear: both;
}
.rc-comment-none{
    color: #999999; font-size: 0.64rem; text-align: center; line-height: 1; padding: 1.2rem 0;
}

.color-green{
    color: #5acdb3;
}
.color-grey{
    color: #999;
}
.hide{
    display: none;
}
.clear{
    clear: both;
}

/*==weixin==*/
.mdetail-modal
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
.mdetail-modal img
{
    position: absolute;
    top: 0;
    right: 0;
}
/*==/weixin==*/
.m-no-works{
    text-align: center;
    height: 4rem;
    width: 8rem;
    margin: 0 auto;
}
.m-no-works .table {
    display: table;
    height: 4rem;
    width: 8rem;
}
.m-no-works .table-cell {
    display: table-cell;
    vertical-align: middle;
}
.m-no-works .icon-no-works {
    background: url("http://www.vsochina.com/resource/images/userWork/icon-no-works.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 1.3rem;
    width: 1.7rem;
    background-size: contain;

}
.m-no-works span {
    display: block;
    padding-top: 5px;
    color: #999;
}