/*==人物封面==*/
/*==banner==*/
.character-banner
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1200px;
    height: 455px;
    overflow: hidden;
    z-index: -1;
}
.character-banner img
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 455px;
}
/*==/banner==*/
/*==topnav==*/
.character-top
{
    position: relative;
    margin: 0 auto;
    margin-top: -455px;
    width: 1200px;
    font-family: "Microsoft Yahei";
    line-height: 1;
}
.character-top .character-top-title
{
    margin-top: 100px;
}
.character-top .character-top-title .top-title-headline
{
    font-size: 38px;
    color: #fff;
}
/*==时间控件==*/
.character-top .character-top-title .character-timepicker-box
{
    position: absolute;
    top: 8px;
    left: 165px;
}
.character-timepicker-box a.character-timepicker-link
{
    display: inline-block;
    width: 115px;
    height: 30px;
    font-size: 14px;
    color: #3297e7;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3297e7;
    box-sizing: border-box;
}
.character-timepicker-box a.character-timepicker-link .icon-9-down
{
    margin-left: 5px;
    height: 10px;
    background-position: center top;
}
.datetimepicker
{
    margin-top: -1px;
    padding: 0;
    border-radius: 0;
}
.dropdown-menu
{
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #3297e7;
}
input.form_datetime
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 115px;
    height: 30px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
}
.datetimepicker-dropdown-bottom-right:before, .datetimepicker-dropdown-bottom-right:after
{
    display: none;
}
.datetimepicker .datetimepicker-months
{
    padding: 0 15px;
}
.datetimepicker table
{
    width: 200px;
    box-sizing: border-box;
}
.datetimepicker thead
{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #59adef;
    box-sizing: border-box;
}
.datetimepicker thead tr th
{
    padding: 0;
    margin: 0;
}
.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover
{
    background-color: transparent;
    background-image: none;
}
.datetimepicker th
{
    width: 60px;
}
.datetimepicker th.prev
{
    text-align: right;
    line-height: 34px;
}
.datetimepicker th.next
{
    text-align: left;
    line-height: 34px;
}
.datetimepicker th i
{
    display: inline-block;
    vertical-align: middle;
}
.datetimepicker th.prev i
{
    border-right: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.datetimepicker th.next i
{
    border-left: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.datetimepicker th.switch
{
    width: 82px;
    box-sizing: border-box;
}
.datetimepicker table tr td
{
    padding: 0;
}
.datetimepicker table tr td span
{
    margin: 0;
    width: 50%;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
}
.datetimepicker table tr td span:nth-child(odd)
{
    border-right: 1px dashed #59adef;
}
.datetimepicker table tr td span:nth-child(1), .datetimepicker table tr td span:nth-child(2)
{
    margin-top: 11px;
    height: 25px;
    line-height: 1;
}
.datetimepicker table tr td span:nth-child(11), .datetimepicker table tr td span:nth-child(12)
{
    margin-bottom: 11px;
    height: 25px;
}
.datetimepicker table tr td span:hover,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active
{
    color: #094879;
    background-color: transparent;
    background-image: none;
}
/*==/时间控件==*/
.character-top .character-top-info
{
    margin-top: 20px;
    width: 880px;
    height: 84px;
    font-size: 14px;
    line-height: 28px;
    color: #d8d8d8;
    text-align: justify;
    text-justify: inter-ideograph;
    overflow: hidden;
}
.character-top .character-top-qrcode
{
    position: absolute;
    top: 0;
    right: 0;
}
.character-top .character-top-qrcode a
{
    display: inline-block;
}
.character-top .character-top-qrcode a img
{
    display: inline-block;
    max-width: 108px;
    max-height: 108px;
    vertical-align: top;
}
/*==/topnav==*/
/*==content==*/
.character-coverlist
{
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 115px;
    width: 1200px;
    font-family: "Microsoft Yahei";
    line-height: 1;
}
.character-coverlist li
{
    margin-bottom: 40px;
}
.character-coverlist .personal-cover-story .personal-cover-left
{
    position: relative;
    width: 241px;
    height: 336px;
}
.character-coverlist .personal-cover-left a img
{
    width: 241px;
    height: 336px;
}
.character-coverlist .personal-cover-left .cover-left-number
{
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px 10px;
    text-align: center;
    background-color: #f60;
}
.personal-cover-left .cover-left-number p
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.personal-cover-left .cover-left-number .cover-left-title
{
    font-size: 14px;
    color: #fff;
}
.cover-left-number .cover-left-title span
{
    display: inline-block;
    width: 35px;
    font-family: "Arial";
    font-size: 28px;
    text-align: center;
}
.personal-cover-left .cover-left-number .cover-left-subtitle
{
    margin-top: 5px;
    font-size: 12px;
    color: #f1d6c5;
}
.personal-cover-left .cover-left-number .cover-bottom-bg
{
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 6px;
    background: url(/images/rc/personal/cover-bg.png) repeat-x left bottom;
}
.character-coverlist .personal-cover-story .personal-cover-intro
{
    width: 959px;
    height: 168px;
}
.character-coverlist .personal-cover-story .personal-cover-works
{
    width: 840px;
    height: 168px;
}
.character-coverlist .personal-cover-works li
{
    width: 168px;
    height: 168px;
}
.character-coverlist .personal-cover-works li a img
{
    width: 168px;
    height: 168px;
}
.character-coverlist .personal-cover-intro .cover-intro-left
{
    padding-left: 50px;
}
.character-coverlist .cover-intro-left .cover-intro-author
{
    margin-top: 44px;
    font-size: 18px;
    color: #333;
}
.character-coverlist .personal-cover-intro .cover-intro-right
{
    width: 749px;
    color: #888;
}
.character-coverlist .cover-intro-right p
{
    margin-top: 40px;
}
.character-coverlist .character-coverlist-more
{
    position: relative;
    width: 119px;
    height: 168px;
    background-color: #3297e7;
}
.character-coverlist .character-coverlist-more a
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 119px;
    height: 168px;
    font-size: 14px;
    color: #f7f7f7;
    text-align: center;
    box-sizing: border-box;
}
.character-coverlist .character-coverlist-more a .coverlist-more-txt
{
    margin-top: 60px;
}
.character-coverlist .character-coverlist-more a .coverlist-more-icon
{
    margin-top: 12px;
}
/*==/content==*/
/*==/人物封面==*/

/*==辅助==*/
.bg-darkgrey
{
    background-color: #f5f5f5;
}
.mt25
{
    margin-top: 25px;
}
.mt30
{
    margin-top: 30px;
}
.icon-9
{
    display: inline-block;
    width: 9px;
    height: 9px;
    vertical-align: middle;
}
.icon-12
{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
.icon-18
{
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.icon-20
{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.icon-24
{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.icon-9-down
{
    background: url(/images/rc/personal/icon-9-down.png) no-repeat center center;
}
.icon-12-home
{
    background: url(/images/rc/enterprise/icon-12-home.png) no-repeat center center;
}
.icon-18-arrow
{
    background: url(/images/rc/personal/icon-18-arrow.png) no-repeat center center;
}
.icon-20-prev
{
    background: url(/images/rc/enterprise/icon-20-prev.png) no-repeat center center;
}
.icon-20-next
{
    background: url(/images/rc/enterprise/icon-20-next.png) no-repeat center center;
}
.icon-24-tag
{
    background: url(/images/rc/enterprise/icon-24-tag.png) no-repeat center center;
}
.clear-float:after
{
    display: block;
    height: 0;
    content: ".";
    visibility: hidden;
    clear: both;
}
.mt44 { margin-top: 44px;}
/*==/辅助==*/