/*==step(20160511)==*/
.step-box .step.active{border-color: #ff851b;}
.step-box .step.active .round{ background-color: #ff851b;}
/*==/step(20160511)==*/

/*==btn(20160511)==*/
.uc-bind-form .btn-grey {
  width: 150px;
  height: 34px;
  line-height: 34px;
}
.btn-grey {
  background: #ccc;
  background-image: linear-gradient(to bottom, #ccc, #aaa);
  border-color: #ccc;
  color: #FFF;
  font-weight: bold;
}
.form-group-btn {
    text-align: center;
}
.label.label-orange {
  background-color: #ff851b;
}
/*==btn(20160511)==*/

.uc-rc-tip {
    padding-left: 20px;
    padding-right: 20px;
}